canvas {
	border:solid;
	position: absolute;
	top:150px;
    left: 400px;
}
h1{
	font-family: Verdana;
	font-weight: bold;
	position: absolute;
	top:30px;
	left:450px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}
body {
 		background-image: url("background.gif");
}